<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Dirt Under the Fingernails Mathematics">
    <meta property="og:description" content="Dirt Under the Fingernails Mathematics (DUFM) class at the Virginia Summer Residential Governor's school">
    <meta property="og:url" content=""><!--  TODO -->
  
  
    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description"
      content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
  
    <link rel="icon" href="assets/images/icons/favicon.ico">
  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=AM_CHTML"></script>
  
    <!-- fancy scrollbar stuff -->
    <link type="text/css" rel="stylesheet" href="assets/styles/OverlayScrollbars.css" /> 
    <script type="text/javascript" src="assets/js/OverlayScrollbars.js"></script>
  
    <link rel="stylesheet" href="assets/styles/header.css">
  
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    {% if page.stylesheets %}
    {% for stylesheet in page.stylesheets %}
    <link rel="stylesheet" href="assets/styles/{{ stylesheet }}.css">
    {% endfor %}
    {% endif %}

    {% if page.scripts %}
    {% for script in page.scripts %}
    <script type="text/javascript" src="assets/js/{{ script }}""></script>
    {% endfor %}
    {% endif %}
  </head>