<header class="fixed-top" role="banner">
    <nav class="navbar">
        <!-- <a href="/"><img id="roboticsLogo" src="/assets/images/robotics_logo.svg"></a> -->
        <ul class="navbar-nav" id="navigation">
            <li class="link-button"><a href="{{ site.baseurl }}/" class="nav-link">Home</a></li>
            <li class="link-button"><a href="{{ site.baseurl }}/gallery" class="nav-link">Gallery</a></li>
            <li class="link-button"><a href="{{ site.baseurl }}/samples" class="nav-link">Samples</a></li>
        </ul>

        <div class="button-group">
            <ul class="navbar-nav" id="socialMedia">
                <li class="nav-item social-icons">
                    <a href="https://www.tiktok.com/@marcbreathes?lang=en" target="_blank" rel="noopener"
                        aria-label="TikTok">
                        <img src="  assets/images/icons/tiktok.png" alt="TikTok">
                        <title>TikTok</title>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- <nav>
      <a class="banner" href="/spring2action">Spring2ACTion is here!</a>
    </nav> -->
</header>