---
---

@import "shared";

p {
    margin: 8px 0;
}

.problem {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
}

.math {
    background-color: $dark-text;
    display: inline-block;
    width: fit-content;
    padding: 8px;
    border-radius: 16px;
    margin: 4px 0;

    span {
        font-size: 16px;
    }
}

.question {
    display: grid;
    grid-template-columns: 1fr 10fr;
    column-gap: 10px;
    width: 85%;
    margin: 0 auto;

    .number {
        margin: auto 0 auto auto;
        height: fit-content;
        font-weight: normal;
    }

    p {
        height: fit-content;
        transform: translateY(-3px);
    }
}

.math-sml {
    @extend .math;
    margin: 0;
    padding: 4px;
}

.answer {
    margin-left: 16px;
    background-color: black;
    color: black;
    padding: 12px;
    border-radius: 24px;
    transition: 0.3s;
    width: fit-content;

    &:hover {
        color: $text-color;
    }
}

.animate {
    margin: 8px 0 12px 16px;
}

.modal-base {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(black, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 20;
    transition: 0.3s;
}

.hidden {
    transform: translateY(-100%);
}

.modal {
    background-color: $bg-color;
    border-radius: 24px;
    height: fit-content;
    padding: 12px 36px;
}

.return-btn {
    display: block;
    margin: 8px auto;
}

.grid10x {
    margin: 24px auto;
    display: grid;
    width: 35vw;
    height: 35vw;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 12px;
}

.grid-box {
    border-radius: 12px;
    // background-color: rgba(black, .2);
    background-color: hsla(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-btn {
    display: block;
    width: 74px;
    height: 100%;
    border-style: solid;
    border-width: 37px;
    border-color: #202020;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: auto;

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        img {
            height: 1.5ch;
        }
    }
}
