@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");

$bg-color: #333;
$header-color: #252525;
// $text-color-accent: #17252a;
$text-color: #e6e6e6;
$light-text-color: #999999;
$dark-text: #282828;
// $muted-color: #7a7a7a;
// $light-gray: #a4aaac;

$main-accent: #ea1c2d;
// $dark-accent: #2b7a78;
// $black-accent: #17252a;

*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    color: $text-color;
    background-color: $bg-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

main {
    padding: 16px 0 50px  0;
    background-color: $bg-color;
    min-height: calc(100% - 100px - 85px); // make it fil the whole page so the footer is in the right position
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

h1 {
    font-family: "Special Elite", serif;

    &.title {
        margin: 16px auto;
        width: fit-content;
        font-size: 50px;
        text-align: center;
    }
}

h3 {
    font-family: "Special Elite", serif;
    margin: 20px auto;
    width: fit-content;
    font-size: 20px;
    font-weight: normal;
    text-decoration: underline;
}

h4 {
    font-family: "Special Elite", serif;
    width: fit-content;
}

footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    right: 0;
    margin-top: -50px;
    padding-left: 20%;
    padding-top: 64px;
    height: 150px;
    background-color: $header-color;
    z-index: -10;
}

button {
    line-height: initial;
    display: inline-block;
    padding: 12px 18px;
    text-shadow: none;
    text-align: center;
    text-decoration: none;
    border: none;
    color: $text-color;
    width: fit-content;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    border-radius: 100px;
    cursor: pointer;
    background-color: rgba($main-accent, .2);
    transition: .3s;

    &:hover {
        color: $text-color;
        text-decoration: none;
        background-color: rgba($main-accent, .6);
    }
}

a {
    color: rgba($main-accent, .5);
    text-decoration: none;
    font-weight: bold;
    transition: .3s;

    &:hover {
        color: rgba($main-accent, .8);
        text-decoration: none;
    }
}

div.center-column {
    width: 60%;
    height: fit-content;
    margin: 0 auto;
}

span.spacer {
    display: block;
    height: 100px;
    width: 100%;
    pointer-events: none;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    color: $text-color;
    width: 100%;
    margin: 60px auto;
    font-size: 1.5rem;
    font-family: "Special Elite";

    &::before,
    &::after {
        content: "";
        flex: 1;
        border-bottom: 2px solid $text-color;
    }

    &:not(:empty)::before {
        margin-right: 0.25em;
    }
    &:not(:empty)::after {
        margin-left: 0.25em;
    }
}

.footer-text {
    color: $light-text-color;
    font-size: 13px;

    a {
        font-size: 14px;
    }
}
